*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: grid;

    grid-template-columns: 120px 160px 210px 160px 120px;
    grid-template-rows: 60px 70px 85px 85px 85px;
    grid-gap: 1px;
    margin-left: 200px;
    
    height: 400px;
}

section .fileira1{
    background-color: rgb(9, 20, 117);
    border: 1px solid;
    
}

section .fileira1 p{
    color:rgb(255, 255, 255);
    text-align: center;

}

section div{
    border: 1px solid;
    background-color: rgb(253, 253, 253);
}

#bloco1 p{
    margin: 9px 9px;
}

#bloco2 p{
    margin: 20px 20px;
}

#bloco3 p{
    margin: 20px 20px;
}

#bloco4 p{
    margin: 20px 20px;
}

#bloco5 p{
    margin: 20px 20px;
}
